pkgbase = confy-cli
	pkgdesc = CLI client for the Confy encrypted communication system
	pkgver = 0.2.0
	pkgrel = 1
	arch = any
	license = custom:GNU General Public License v3 (GPLv3)
	makedepends = python-poetry
	makedepends = python-installer
	depends = python
	depends = python-confy-addons
	depends = python-cryptography
	depends = python-prompt_toolkit
	depends = python-pydantic-settings
	depends = python-typer
	depends = python-websockets
	provides = confy
	conflicts = confy
	source = https://files.pythonhosted.org/packages/7b/45/a18279358f7527d85f1a382d36f5f9acfc0073f38e602cb1e515486dd4ff/confy_cli-0.2.0.tar.gz
	sha256sums = 61f3829a745a55c7ce09526e0df3f1ed779a804b7c8c3cf44b9c788a08c0b67a

pkgname = confy-cli
