pkgbase = confy-cli
	pkgdesc = CLI client for the Confy encrypted communication system
	pkgver = 0.1.4
	pkgrel = 3
	url = https://github.com/confy-security/cli
	arch = any
	license = custom:GNU General Public License v3 (GPLv3)
	makedepends = python-poetry
	makedepends = python-installer
	depends = python
	depends = python-confy-addons
	depends = python-cryptography
	depends = python-prompt_toolkit
	depends = python-pydantic-settings
	depends = python-typer
	depends = python-websockets
	provides = confy
	conflicts = confy
	source = https://files.pythonhosted.org/packages/6b/91/254cae2eba178f6af5b38e5b5d3e7e65ab0d05ceb2c78d8117c3270b1005/confy_cli-0.1.4.tar.gz
	sha256sums = 0cc5049c1cc4f832a8ee08ed80f841b6eee17b8b78337ee43a3457ee0a015663

pkgname = confy-cli
